### Operations On string

In [ ]:
# for loop on string

name="Abdul Rehman"

for i in name:
  print(i)

A
b
d
u
l

R
e
h
m
a
n

In [ ]:
name="Abdul Rehman"

for i in name[2:]:
  print(i)

d
u
l

R
e
h
m
a
n

In [ ]:
name="Abdul Rehman"

for i in name[2::2]:
  print(i)

d
l
R
h
a

In [3]:
name="Abdul Rehman"

i=0
while i<len(name):
  print(name[i])
  i+=1

A
b
d
u
l

R
e
h
m
a
n

In [5]:
# String Functions

#len
print(len('Karachi'))

#max
print(max('karachi'))  # follows laxious (ascii) (unicodeorder)
print(max('12345'))

#min
print(min('karachi')) # follows unicode order
print(min('12345'))

#sort ----> Sort the values in list data type implicitly
print(sorted('karachi'))
print(sorted('86532'))
print(sorted('86532',reverse=True))



string="Abdul Rehman"

#capitalize / upper / lower/ title / swapcase
print(string.capitalize())
print(string.upper())
print(string.lower())
print(string.title())
print(string.swapcase())


#count
print(string.count("a"))
print(string.count("man"))
print(string.count("x")) # output(0) ----> if given string not present

#find / index

#find ---> give the position of the string
print(string.find("a"))
print(string.find("man"))
print(string.find("x"))   # output(-1) ---> if given string is not present

#index ----> Return the output of index
print(string.index("a"))
print(string.index("man"))
# print(string.index("x"))  # output(error) ---> if given string is not present

# endswith / startswith
print(string.endswith("man"))
print(string.startswith("a"))

#format
print("My name is {} and my age is {}".format("Abdul Rehman",20))
print("My name is {1} and my age is {0}".format("Abdul Rehman",20))  #position based formation
print("My name is {name} and my age is {age}".format(age=20,name="Abdul Rehman")) # variable based formation

# isalpha / isdecimal / isdigit / isalnum
print("Abdul".isalpha())
print('7f'.isalnum())
print('123'.isdecimal())
print('20'.isdigit())


#split
print(string.split())  #convert words to list
print(string.split('a')) # split on any substring

#join
print(" ".join(['Abdul', 'Rehman']))
print("-".join(['Abdul', 'Rehman']))

#replace
print(string.replace("Abdul","Ali"))

#strip
name="     Abdul Rehman       "
print(name.strip())

7
r
5
a
1
['a', 'a', 'c', 'h', 'i', 'k', 'r']
['2', '3', '5', '6', '8']
['8', '6', '5', '3', '2']
Abdul rehman
ABDUL REHMAN
abdul rehman
Abdul Rehman
aBDUL rEHMAN
1
1
0
10
9
-1
10
9
True
False
My name is Abdul Rehman and my age is 20
My name is 20 and my age is Abdul Rehman
My name is Abdul Rehman and my age is 20
True
True
True
True
['Abdul', 'Rehman']
['Abdul Rehm', 'n']
Abdul Rehman
Abdul-Rehman
Ali Rehman
Abdul Rehman

#Mutable & Immutable Data types:

**Mutable:** Data types that can change, edit or delete
1.   list
2.   dict
3.   set

**Immutable:** Data types that can't change, edit or delete
1. int
2. float
3. string (str)
4. tuple

#List
It is the data type in which you can store multiple types of data type values.

**List Vs Array**
1. Array is homogenous(must contain same data-type values) but list is hetrogenous(can contain different data-type values).
2. Array store values on continuous memory location(store value one after one) but list store values on dis-continuous memory locations.
3. Arrays are much faster than list because of the continuous value storation in memory.

In [ ]:
# syntax:List[element1,element2,..........element n]

students=["asad","fawad","mehmmod","aleem","abdul rehman","ishaq","ameen","umer","ali"]
#+ve index  0       1         2        3         4           5       6       7      8
#-ve index -9      -8        -7       -6        -5          -4      -3      -2     -1

print(students)

['asad', 'fawad', 'mehmmod', 'aleem', 'abdul rehman', 'ishaq', 'ameen', 'umer', 'ali']

In [ ]:
# code to check the array and list momory store location  ------> just for understanding

import array
import ctypes

# 1️⃣ Python array (continuous memory)
arr = array.array('i', [10, 20, 30, 40])
print("Array values:", arr)
print("Array memory addresses:")
base_address = arr.buffer_info()[0]
size = arr.itemsize
for i in range(len(arr)):
    print(f"Index {i}: Address = {base_address + i * size}")

print("\n---\n")

# 2️⃣ Python list (dis-continuous memory)
lst = [10, 20, 30, 40]
print("List values:", lst)
print("List memory addresses (object references):")
for i in range(len(lst)):
    print(f"Index {i}: Address of element object = {id(lst[i])}")

Array values: array('i', [10, 20, 30, 40])
Array memory addresses:
Index 0: Address = 135092457605040
Index 1: Address = 135092457605044
Index 2: Address = 135092457605048
Index 3: Address = 135092457605052

---

List values: [10, 20, 30, 40]
List memory addresses (object references):
Index 0: Address of element object = 10758024
Index 1: Address of element object = 10758344
Index 2: Address of element object = 10758664
Index 3: Address of element object = 10758984

#### Topics
*   Create
*   Access
*   Edit
*   Add
*   Delete
*   Operations
*   Functions

In [ ]:
# Create List

a=[] #empty list
b=[10,20,30,40,50,60] #homogenous list
c=['abdullah',10,20.7,True, (5+6j)]  #Hetrogenous list

#multidimensional list
d=[1,2,3,[4,5]]           #2D
e=[1,2,3,[4,5,6,[7,8,9]]] #3D

#List with type conversion
f=list()
g=list('ABDULLAH')


print(a,b,c,end='\n')
print(d,e,f,g)

[] [10, 20, 30, 40, 50, 60] ['abdullah', 10, 20.7, True, (5+6j)]
[1, 2, 3, [4, 5]] [1, 2, 3, [4, 5, 6, [7, 8, 9]]] [] ['A', 'B', 'D', 'U', 'L', 'L', 'A', 'H']

In [ ]:
#Access (Inexing & Slicing) ----> same as string

l=[1,2,3,4,5,6]

#indexing
print(l[3])
print(l[-2])

#slicing
print(l[0:3])
print(l[-4:-2])
print(l[-5:-2:2])
print(l[::-1])


#Mlutidimensional list

x=[1,2,3,[4,5]]

#indexing
print(x[3][0])
print(x[-1][-1])

4
5
[1, 2, 3]
[3, 4]
[2, 4]
[6, 5, 4, 3, 2, 1]
4
5

In [ ]:
#Edit list items ---> list is mutable in python (can edit the items of list)


l=[1,2,3,4,5,6,7,8,9]

#editing with indexing
l[0]=0
print(l)

l[-3]=100
print(l)

# editing with slicing
l[2:5]=[200,300,400,500]
print(l)

l[-3:-5]=[30,20,10]
print(l)

[0, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 3, 4, 5, 6, 100, 8, 9]
[0, 2, 200, 300, 400, 500, 6, 100, 8, 9]
[0, 2, 200, 300, 400, 500, 6, 30, 20, 10, 100, 8, 9]

In [ ]:
# Add items in list ----> Methods(append, extend, insert)

l=[1,2,3,4,5,6,7,8,9]

#append ---> add item in the last of the list
l.append("Hello")
print(l)
l.append([5,6])
print(l)

#extend ---> can add one or more than one items in the last of the list
l.extend('Abdullah')
print(l)
l.extend(['Abdul Rehman'])
print(l)
l.extend(['world',5.7,True])
print(l)

#insert ----> add the item in the list as your given index
l.insert(3,'Ali')
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 'Hello']
[1, 2, 3, 4, 5, 6, 7, 8, 9, 'Hello', [5, 6]]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 'Hello', [5, 6], 'A', 'b', 'd', 'u', 'l', 'l', 'a', 'h']
[1, 2, 3, 4, 5, 6, 7, 8, 9, 'Hello', [5, 6], 'A', 'b', 'd', 'u', 'l', 'l', 'a', 'h', 'Abdul Rehman']
[1, 2, 3, 4, 5, 6, 7, 8, 9, 'Hello', [5, 6], 'A', 'b', 'd', 'u', 'l', 'l', 'a', 'h', 'Abdul Rehman', 'world', 5.7, True]
[1, 2, 3, 'Ali', 4, 5, 6, 7, 8, 9, 'Hello', [5, 6], 'A', 'b', 'd', 'u', 'l', 'l', 'a', 'h', 'Abdul Rehman', 'world', 5.7, True]

In [ ]:
# Delete items from list ---> Methods(del, remove, pop, clear)

l1=[10,20,30,40,50,60,70,80,90,100,110,120,130,140,150]

#del ---> can delete the whole list or specific list item or specific list portion using indexing & slicing method

# through indexing
del l1[0]
print(l1)
del l1[-1]
print(l1)

#through slicing
del l1[2:5]
print(l1)
del l1[-3:-1]
print(l1)

#delete whole list
#del l1
#print(l1)


#remove ----> delete the item through the actual item name
l1.remove(90)
print(l1)

#pop ----> delete last item of the list
l1.pop()
print(l1)

#clear ----> delete all items of the list
l1.clear()
print(l1)

[20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150]
[20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140]
[20, 30, 70, 80, 90, 100, 110, 120, 130, 140]
[20, 30, 70, 80, 90, 100, 110, 140]
[20, 30, 70, 80, 100, 110, 140]
[20, 30, 70, 80, 100, 110]
[]

In [ ]:
# Operations with list

#add ---> concatination
l1=[1,2,3]
l2=[3,4,5]
print(l1+l2)

#multiplication
print(l1*3)

#membership operator
print(3 in l1)
print(4 not in l2)


#for loop
l3=[1,2,3,4,5,[6,7,8]]
for i in l3:
  print(i)


name=['asad','ali','ameen','muneeb','rashid','rasheed']
for i in name:
  print(i)

[1, 2, 3, 3, 4, 5]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
True
False
1
2
3
4
5
[6, 7, 8]
asad
ali
ameen
muneeb
rashid
rasheed

In [ ]:
#loop with list
even=[]
odd=[]

for i in range(1,50):
    if i%2==0:
        even.append(i)

    if i%2==1:
        odd.append(i)

print(even)
print(odd)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [ ]:
#loop with list and nested coditions
even=[]
odd=[]

for i in range(1,50):
    if i%2==0:
        if i%5!=0:
            even.append(i)

    if i%2==1:
        if i%5!=0:
            odd.append(i)

print(even)
print(odd)

[2, 4, 6, 8, 12, 14, 16, 18, 22, 24, 26, 28, 32, 34, 36, 38, 42, 44, 46, 48]
[1, 3, 7, 9, 11, 13, 17, 19, 21, 23, 27, 29, 31, 33, 37, 39, 41, 43, 47, 49]

In [ ]:
#Iterating over a list using for loop
list1=['asad','hammad','ali','bilal','abdul rehman','usman','ameen']

for name in list1:
    print(f"Thanks for coming Mr.{name}")

Thanks for coming Mr.asad
Thanks for coming Mr.hammad
Thanks for coming Mr.ali
Thanks for coming Mr.bilal
Thanks for coming Mr.abdul rehman
Thanks for coming Mr.usman
Thanks for coming Mr.ameen

In [ ]:
#list using for loop, condition and continue statement
guestlist=[]

for i in range(10):
    guestname=input("Tell me your guest name: ")
    if guestname=='asad':
        continue
    else:
        guestlist.append(guestname)

print(guestlist)

Tell me your guest name: ali
Tell me your guest name: ameen
Tell me your guest name: rashid
Tell me your guest name: rasheed
Tell me your guest name: asad
Tell me your guest name: nasir
Tell me your guest name: akmal
Tell me your guest name: umair
Tell me your guest name: umer
Tell me your guest name: ahmed
['ali', 'ameen', 'rashid', 'rasheed', 'nasir', 'akmal', 'umair', 'umer', 'ahmed']

In [ ]:
#functions on list

l=[1,2,3,4,5,6,7,8,9]

#len
print(len(l))

#min
print(min(l))

#max
print(max(l))

#sum
print(sum(l))

#sorted
print(sorted(l))
print(sorted(l,reverse=True))

#index -----> return the index of the value
print(l.index(3))

9
1
9
45
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 1]
2

#### Task 1

In [ ]:
# convert the string into capital without using title
string="hello how are you"
lst=[]
for i in string.split():
  lst.append(i.capitalize())

string=" ".join(lst)
print(string)

Hello How Are You

#### Task2

In [ ]:
# Extract the exact e-mail part from the given e-mail
email="abc@gmail.com"

email_part=email[:email.find('@')]
print(email_part)

abc

#### Task 3

In [ ]:
# Remove the dublicate items without using dublicate
lst1=[1,2,4,3,3,6,5,5,8,2,1,0,7,8,6,7]
lst2=[]
for i in lst1:
  if i not in lst2:
    lst2.append(i)

print(lst2)

[1, 2, 4, 3, 6, 5, 8, 0, 7]

# Tuple

In [ ]:
# Syntax

# syntax:Tuple(element1,element2,..........element n)

students=("asad","fawad","mehmmod","aleem","abdul rehman","ishaq","ameen","umer","ali")
#+ve index  0       1         2        3         4           5       6       7      8
#-ve index -9      -8        -7       -6        -5          -4      -3      -2     -1

print(students)

('asad', 'fawad', 'mehmmod', 'aleem', 'abdul rehman', 'ishaq', 'ameen', 'umer', 'ali')

#### List Vs Tuple

1. Syntax difference
2. Can't make tuple with one element
3. List is mutable while Tuple is immutable
4. List is the both read & write data type but Tuple is read only data type
4. Can add, edit, delete elements in list but can't in tuples

#### Topics


*   Create
*   Access
*   Edit
*   Add
*   Delete
*   Operations
*   **Functions**

In [ ]:
#Create tuple

t1=() # empty tuple
t2=(1,2,3,4,5) #homogenous tuple
t3=('abdullah',10,20.7,True, (5+6j)) #hetrogenous tuple

#Multidimensional tuple
t4=(1,2,3,(4,5)) #2D
t5=(1,2,3,(4,5,(6,7,8))) #3D

#tuple with type conversion
t6=tuple()
t7=tuple('abdullah')


print(t1,t2,t3)
print(t4,t5)
print(t6,t7)

() (1, 2, 3, 4, 5) ('abdullah', 10, 20.7, True, (5+6j))
(1, 2, 3, (4, 5)) (1, 2, 3, (4, 5, (6, 7, 8)))
() ('a', 'b', 'd', 'u', 'l', 'l', 'a', 'h')

**Note:** Tuple can't make with one variable

In [ ]:
a=(1)
print(a)
print(type(a))

b=("hello")
print(b)
print(type(b))

1
<class 'int'>
hello
<class 'str'>

**Note:** To fix this you have to add comma after one element in tuple

In [ ]:
a=(1,)
print(a)
print(type(a))

b=("hello",)
print(b)
print(type(b))

(1,)
<class 'tuple'>
('hello',)
<class 'tuple'>

In [ ]:
#Access (Inexing & Slicing) ----> Similar with list

t=(1,2,3,4,5,6)

#indexing
print(t[3])
print(t[-2])

#slicing
print(t[0:3])
print(t[-4:-2])
print(t[-5:-2:2])
print(t[::-1])


#Mlutidimensional tuple

x=(1,2,3,(4,5))

#indexing
print(x[3][0])
print(x[-1][-1])

4
5
(1, 2, 3)
(3, 4)
(2, 4)
(6, 5, 4, 3, 2, 1)
4
5

In [ ]:
 #Edit list items ---> tuple is immutable in python like string (can edit the existing items of tuple)

t=(1,2,3,4,5,6,7,8,9)
t[0]=100

TypeError: 'tuple' object does not support item assignment

In [ ]:
# Add ----> Can't add elements to tuples because of immputable (can't edit the existing items of tuple)

In [ ]:
#Delete tuple

t=(1,2,3,4,5,6)

#delete entire tuple ---> possible
del t

# Delete an element from the tuple -----> not possible because of immputable (can't edit the existing items of tuple)
t1=(1,2,3,4,5)
del t1[3]

TypeError: 'tuple' object doesn't support item deletion

In [ ]:
#operations with tuple ----> similar to list

#add ---> concatination
t1=(1,2,3)
t2=(3,4,5)
print(t1+t2)

#multiplication
print(t1*3)

#membership operator
print(3 in t1)
print(4 not in t2)


#for loop
t3=(1,2,3,4,5,(6,7,8))
for i in t3:
  print(i)


name=('asad','ali','ameen','muneeb','rashid','rasheed')
for i in name:
  print(i)

(1, 2, 3, 3, 4, 5)
(1, 2, 3, 1, 2, 3, 1, 2, 3)
True
False
1
2
3
4
5
(6, 7, 8)
asad
ali
ameen
muneeb
rashid
rasheed

In [ ]:
#Functions of Tuple ----> similar to list

t=(1,2,3,4,5,6,7,8,9)

#len
print(len(t))

#min
print(min(t))

#max
print(max(t))

#sum
print(sum(t))

#sorted
print(sorted(t))
print(sorted(t,reverse=True))

#index
print(t.index(3))

9
1
9
45
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 1]
2

#Sets

In [6]:
#syntax: # syntax:set{element1,element2,..........element n}


s={1,2,3,4,5}
print(s)
print(type(s))

{1, 2, 3, 4, 5}
<class 'set'>

## Sets Rules



1.  Sets do not allow duplicates
2.  Sets do not allow indexing & slicing
4.  Sets itself is a mutable data type  
3.  Sets do not allow mutable data types in the elements
5.  Sets are un-ordered data type



####Topics

*   Create
*   Access
*   Edit
*   Add
*   Delete
*   Operations
*   Functions

In [ ]:
# Create Sets

s={} # this will make dictionary , not set because python make dictionary as implicit type conversion.
print(type(s))
s1={1,}  # add comma after one variable can make it dictionary
print(type(s1))

s2={10,20,30,40,50,60} #homogenous list
s3={'abdullah',10,20.7,True, (5+6j)}  #hetrogenous list

print(s1,s2,s3)


#List with type conversion
s6=set()
s7=set('ABDULLAH')


print(s6,s7)

<class 'dict'>
<class 'set'>
{1} {50, 20, 40, 10, 60, 30} {True, 20.7, (5+6j), 'abdullah', 10}
set() {'L', 'D', 'B', 'A', 'H', 'U'}

In [ ]:
#multidimensional set  -----> Rule 4. Set don't allow mutable datatypes, so set also do not allow itself as a mutale datatype in itself

s4={1,2,3,{4,5}}    #2D

TypeError: unhashable type: 'set'

In [ ]:
# Duplicate ----> Rule 1. Set not allow duplicates in itself
s8={2,3,3,6,4,8,6,1,4,3,5}
print(s8)

{1, 2, 3, 4, 5, 6, 8}

In [ ]:
# Rule 5. ----> Set are unordered data type so it set the elements according to hashing algorithm
s9={'Hello',2,5.7,True}
print(s9)

{True, 2, 'Hello', 5.7}

In [ ]:
# Access Items in Set ----> Rule 2. Set do not allow indexing and slicing

s10={1,2,3,4,5,6}


print(s10[3])

print(s10[2:5])

TypeError: 'set' object is not subscriptable

In [ ]:
# Add items in Set  -----> Reule 3. Sets itself is a mutable data type

s11={1,2,3,4,5,6,7}

#add  -----> can add only one item
s11.add(8)
print(s11)


#update ----> It accept any iterale like list, tuple ,set.
#({4,5} was not added as a whole single object, but instead its inner elements (4 and 5) were extracted and inserted into the set.)
s11.update([9, 10],{11, 12}, (13, 14))
print(s11)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}
{1, 2, 3, 4, 5}
{1, 2, 3}

In [ ]:
# Delete Sets

s={10,20,30,40,50,60,70,80,90}

# Remove -----> remove the element in set by the actual value  the elemet
s.remove(90)
print(s)

#pop ----> Remove the last element
# Rule 2. Set do not allow indexing and slicing (so it pop last element on the bsis of hashing)
s15={1,2,3,4,5}
s15.pop()
print(s15)

#clear ----> clear all the elements from set
s15.clear()
print(s15)

# del ----> delete entire set
del s

# Rule 2. Set do not allow indexing and slicing (so not allow delete on basis of indexing)
s1={10,20,30,40,50,60,70,80,90}
del s1[3]

{70, 40, 10, 80, 50, 20, 60, 30}
{2, 3, 4, 5}
set()

TypeError: 'set' object doesn't support item deletion

In [ ]:
# operations on set

s1={1,2,3,4,5}


#loop
for i in s1:
  print(i)


#membership operators
2 in s1

#product ----> Not allow in sets because it makes duplicate, Rule 1. Set not allow duplicates in itself
print(s1*3)


#addition of sets also (conctination) not exist in sets, instead set have union function

1
2
3
4
5

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [ ]:
# Fuctions on set

s1={1,2,3,4,5}

#len
print(len(s1))

#min
print(min(s1))

#max
print(max(s1))

#sum
print(sum(s1))

#sorted  -----> convert set to list implicitly
print(sorted(s1))
print(sorted(s1,reverse=True))


#union ----> it make a new set from another  set without change in the original set
s1 = {1, 2, 3}
s2={3,4,5}
s3 = s1.union(s2)
print(f'Union = {s3}')
print(s2)
print(s1)       # original remains same


#intersection ----> Return the same elements in both sets
s1 = {1, 2, 3}
s2={3,4,5}
s3 = s1.intersection(s2)
print(f'Intersection = {s3}')
print(s2)
print(s1)


#difference ----> Return the elemnts that are in s1 but not in s2
s1 = {1, 2, 3}
s2={3,4,5}
s3 = s1.difference(s2)
print(f'Difference = {s3}')
print(s2)
print(s1)

5
1
5
15
[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]
Union = {1, 2, 3, 4, 5}
{3, 4, 5}
{1, 2, 3}
Intersection = {3}
{3, 4, 5}
{1, 2, 3}
Difference = {1, 2}
{3, 4, 5}
{1, 2, 3}