# Functions

A block of code or a black box that have some code inside that have some usage purpose
##Benifits:
1. Every code is self contained and use to break up the entire login into pieces(Modularity).
2. Works on philosophy of write once use forever! (Reusability).
3. Code is well organized. (Readability).

## Properties

### 1. Abstraction:
Hiding the internal details of how a task is performed and only showing a simple interface to the user, so the user can use the function without worrying about its internal complexity.

### 2. Decomposition:
Breaking a large and complex problem into smaller, manageable functions, where each function handles a specific task, making the program more organized, reusable, and easier to maintain.

In [ ]:
#syntax

'''
def function_name(Parameters):

  function doc (reading manual)
  function work and Logic
  return outputs

  '''

# Calling function
'''
function_name(Arguments)
'''

'\nfunction_name(Arguments) \n'

In [ ]:
#Example:  Make Funtion
def is_even(num):
  '''
  Function gives odd or even
  input : valid integer
  output : odd or even
  created by : Abdul Rehman
  Last Edit : 28-8-25
  '''

  if num%2==0:
    return 'Even'
  else:
    return 'Odd'

In [ ]:
#calling function
is_even(6)

'Even'

In [ ]:
#calling function with loop
for i in range(10):
  print(is_even(i))

Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd

In [ ]:
# Calling fuction doc
is_even.__doc__

'\n  Function gives odd or even\n  input : valid integer\n  output : odd or even\n  created by : Abdul Rehman\n  Last Edit : 28-8-25\n  '

#### Difference between return and print

#####1. print
simply displays the output on the screen. It doesnâ€™t give anything back to the program. Once printed, the value cannot be reused by other parts of the code.

#####2. return
Gives the result back to the caller of the function. The returned value can be stored in a variable, reused, or passed to another function. It makes functions more flexible and powerful.

#### Why do we use return more in functions?

Because functions are usually written to perform a task and give back a result that can be used later in the program. **return** makes the function reusable, testable, and usable in larger programs, that's why return in functions.

#### Difference between Parameter & Argument

* Parameter is a place holder (variable).
* Argument is an actual value pass through the function when call.


###Arguments

1.   Default Arguments
2.   Positional Arguments
3.   Keyword Arguments
4.   Arbitrary Arguments

In [ ]:
def power(a,b):
  return a**b

In [ ]:
power(5,6)

15625

In [ ]:
# crashing function because of one argment
power(5)

TypeError: power() missing 1 required positional argument: 'b'

**Note:** The best practise is to make function that avoid the crashing, To avoid crashing, use default argument concept

In [ ]:
# Default Argument ----> A parameter that takes a pre-defined value if no value is provided by the caller when the function is called.

def power (a=1,b=1):
  return a**b

In [ ]:
power(2,4)

16

In [ ]:
power(4) # Now not making error because of default argument

4

In [ ]:
def greet(name='Guest'):
  print(f'Hello {name}')

In [ ]:
greet("Abdul")

Hello Abdul

In [ ]:
# Positional Argument -----> It is argument that is passed to a function in the same order as the parameters are defined in the function.

# Here a=2 , because given argument(2) is on the first position that is for parameter(a), similarly argument(3) for parameter(b).
#Which shows the proper position of both arguments.
print(power (2,3))

8

In [ ]:
# Keyword Arguments -----> It is an argument that is passed to a function by explicitly mentioning the parameter name along with its value, so the order of arguments doesnâ€™t matter.
print(power(b=2,a=3))

9

In [ ]:
# Arbitrary Argumnts

# 1. Arbitrary Positional Argumnts ----> A function that accept any number of positional arguments without defining them in advance. These arguments are collected into a tuple.

def flexible (*number):   # python convert it into tuple when it think tht the multiple inputs are coming
  product=1
  print(number)
  print(type(number))
  for i in number:
    product=product*i
  print(product)

In [ ]:
print(flexible(1,2,3))

(1, 2, 3)
<class 'tuple'>
6
None

In [ ]:
# 2. Arbitrary Keyword Argumnts ----> A function that accept any number of Keyword arguments without defining them in advance. These arguments are collected into a dictionary.

def student_info(**info):
  print(info)
  print(type(info))
  for key,vaulue in info.items():
    print(f"{key} : {vaulue}")

In [ ]:
print(student_info(name="Abdul Rehman", Roll_No= 1020,  ))

{'name': 'Abdul Rehman', 'Roll_No': 1020}
<class 'dict'>
name : Abdul Rehman
Roll_No : 1020
None

### Functions As Objects

In [ ]:
def f(num):
  return num**2

In [ ]:
f(4)

16

In [ ]:
# Renaming function

#functions behave as a data tye in python.They can objects like integer or other data types so it can be safe in another variable as an object
x=f

print(x(2))
print(x(4))

4
16

In [ ]:
# Deleting function
#It is already stored in x
del f

print(f(2))

NameError: name 'f' is not defined

In [ ]:
print(x(7))

print(type(x))

49
<class 'function'>

In [ ]:
#Sorting function object in list
l=[1,2,3,4,x]
print(l)

[1, 2, 3, 4, <function f at 0x78677a5ece00>]

In [ ]:
# input value to x which behaving as a function
l[-1](3)

9

In [ ]:
#similarly
l=[1,2,3,4,x(5)]
print(l)

[1, 2, 3, 4, 25]

# Exercises

In [ ]:
def mean(arr):
    total=0
    for val in arr:
        total=total+val
    return total/len(arr)

mean([1,2,3,4,5])

3.0

In [ ]:
def data(name,roll_no,marks,grade):
    print(f"""Name:{name}
Roll Number:{roll_no}
Marks:{marks}
Grade:{grade}""")

data('Abdul Rehman',1070,87,'A+')

Name:Abdul Rehman
Roll Number:1070
Marks:87
Grade:A+

In [ ]:
def para(text):
    print(text.lower())

    print(text.capitalize())

para('My name is Abdul Rehman')

my name is abdul rehman
My name is abdul rehman

In [ ]:
def min_max(arr):
    print(min(arr),max(arr))

min_max([2,5,6,7,4,9])

2 9

In [ ]:
# Calculator

def calculator(arr,task=''):
    #add,sub,mul,div,sqr,avg,even,odd
    if task=='add':
        total=0
        for add in arr:
            total=total+add
        return total

    elif task=='sub':
        total=0
        for sub in arr:
            total=sub-total #[2,3,4,5,6,7]
        return total

    elif task=='mul':
        total=1
        for mul in arr:
            total=total*mul
        return total

    elif task=='div':
        total=1
        for div in arr:
            total=div/total
        return total

    elif task=='exponent':
        power=int(input("Enter a power"))
        return [sqr**power for sqr in arr]

    elif task=='avg':
        total=0
        for avg in arr:
            total=total+avg
        return total/len(arr)

    elif task=='even':
        evenlist=[]
        for even in arr:
            if even%2==0:
                evenlist.append(even)
        return evenlist

    elif task=='odd':
        oddlist=[]
        for odd in arr:
            if odd%2==1:
                oddlist.append(odd)
        return oddlist


    else:
        return arr

In [ ]:
print(calculator([2,3,4,5,6,7],'add'))
print(calculator([2,3,4,5,6],'sub'))
print(calculator([2,3,4,5,6,7],'mul'))
print(calculator([2,3,5,6,],'div'))
print(calculator([2,3,4,5,6,7],'exponent'))
print(calculator([2,3,4,5,6,7],'avg'))
print(calculator([2,3,4,5,6,7],'odd'))
print(calculator([2,3,4,5,6,7]))

27
4
5040
1.7999999999999998
Enter a power4
[16, 81, 256, 625, 1296, 2401]
4.5
[3, 5, 7]
[2, 3, 4, 5, 6, 7]

In [ ]:
names={'Abdullah','Abdul Rehman','Ameen','Aman','Ali','Owais'}

def person_name():
    for name in names:
        print(name)

person_name()

Abdullah
Aman
Owais
Ameen
Abdul Rehman
Ali

In [ ]:
def build_person(first_name,last_name,age=''):
    person={"First name":first_name,"Last_name":last_name}
    if age:
        person['age']=age
    return person

build_person('Abdul','Rehman','20')

{'First name': 'Abdul', 'Last_name': 'Rehman', 'age': '20'}

In [ ]:
build=build_person('Abdullah','Zeeshan',16)
print(build)

{'First name': 'Abdullah', 'Last_name': 'Zeeshan', 'age': 16}

In [ ]:
def pizza(*toppings):
    for top in toppings:
        print(top)

pizza('pappareno','double chees')
pizza('extra chicken')

pappareno
double chees
extra chicken

In [ ]:
def build_profile(first,last,**user_profile):
    profile={}
    profile['First name']=first
    profile['Last name']=last

    for key,value in user_profile.items():
        profile[key]=value


    return profile

In [ ]:
build_profile('Abdul','Rehman')

{'First name': 'Abdul', 'Last name': 'Rehman'}

In [ ]:
build_profile('Abdul','Rehman',education='Graduation',University='FAUUST')

{'First name': 'Abdul',
 'Last name': 'Rehman',
 'education': 'Graduation',
 'University': 'FAUUST'}

# Lambda Functions:
Lambda functions are the functions are the anonmous function that haven't any name. These functions always written in the one line, that not spin on multiple lines

In [ ]:
#syntax

'''lambda input : rest code expression'''

'lambda input : rest code expression'

In [ ]:
#Examlpe
x=lambda x: x**2

x(9)

81

In [ ]:
a= lambda x,y :x+y
print(a(4,7))
type(a)

11

function

### Difference between normal functions & Lambda functions

1. Lambda has no return value like normal function.
2. Lambda function consist only one line while normal function take multiple lines.
3. Lambda function haven't any name.

In [ ]:
a=lambda x: x[0]=="a"

print(a("apple"))
print(a('banana'))

True
False

In [ ]:
a=lambda x: print("Even") if x%2==0  else print("Odd")
a(6)

Even

### Use Case of Lambda Functions
lambda functions are most commonly used with higher order functions because HOFs often need a small, throwaway function as an argument

### Higher Order Functions
A higher order function is a function that either takes one or more functions as arguments, or returns a new function as its result â€” or does both.

In [ ]:
#normal function

#Find the sum of all even in list
#Find the sum of all odd number in list
# Find the sum of all numbers that are divisible by three

l=[11,14,21,23,56,78,45,29,28,27,15,9]


def return_sum(l):
  even_sum=0
  odd_sum=0
  div3_sum=0

  for i in l:
    if i%2==0:
      even_sum=even_sum+i
    if i%2==1:
      odd_sum=odd_sum+i
    if i%3==0:
      div3_sum=div3_sum+i
  return even_sum,odd_sum,div3_sum

return_sum(l)

(176, 180, 195)

In [ ]:
#Higher Order Function ------> Perform addition on the condition
l=[11,14,21,23,56,78,45,29,28,27,15,9]

def return_sum(func,l):
  result=0

  for i in l:
    if func(i):
      result=result+i
  return result

x= lambda x: x%2==0
y= lambda x: x%2==1
z= lambda x: x%3==0

print(return_sum(x,l))
print(return_sum(y,l))
print(return_sum(z,l))

176
180
195

Higher Order Functions Of Python


*   Map
*   Filter
*   Reduce

#### Map:
applies a given function to every element on given iterable (like a list, tuple, etc.) and returns a map object (which can be converted to list, set, etc.).

In [ ]:
#Syntax

'''map(function, iterable)'''

'map(function, iterable)'

In [ ]:
#map Example ----> Return double of every item in a list
l=[1,2,3,4,5,6,7]

print(map(lambda x:x*2,l))
# Can't see the map function output directly, so yo have to convert it into list

list(map(lambda x:x*2,l))

<map object at 0x79d156fef130>

[2, 4, 6, 8, 10, 12, 14]

In [ ]:
# Iterating the name through map function
students=[
    {
        'name':'Abdul Rehman',
        'score':90
    },
    {
        'name':'Abdullah Zeeshan',
        'score':80
    },
    {
        'name':'Ameen',
        'score':70
    }

]

list(map(lambda x:x['name'],students))

['Abdul Rehman', 'Abdullah Zeeshan', 'Ameen']

####Filter:

used to filter elements from an iterable (like list, tuple, set) based on a condition.

It only keeps the elements for which the given function returns True.

In [ ]:
# Filter Example ----> Return the elements if they are greater than four
l=[1,2,3,4,5,6,7,8,9,10]

list(filter(lambda x:x>4,l))

[5, 6, 7, 8, 9, 10]

In [ ]:
# Return the element from list that have "e" in their name using filter function

name=['ali','ameen','akib','zeeshan','ahmed','saleem']

list(filter(lambda i:'e' in i, name))

['ameen', 'zeeshan', 'ahmed', 'saleem']

#### Reduce:

The reduce() function (from the functools module) applies a function cumulatively to the items of an iterable, from left to right, so as to reduce the iterable to a single value.

#####Trace:

Sum of [1, 2, 3, 4]

start: first two items taken as initial pair: (1, 2)
call -> 1 + 2 = 3 (accumulator = 3)

next item 3: call -> 3 + 3 = 6 (accumulator = 6)

next item 4: call -> 6 + 4 = 10 (accumulator = 10)

Final result = 10

In [ ]:
#Reduce Example ----> Add cumulatively

from functools import reduce

l=[1,2,3,4,5,6,7,8,9,10]

reduce(lambda x,y:x+y,l )

55

In [ ]:
# Find greatest number in list by reduce function
l=[1,2,3,4,5,6,7,8,9,10]

reduce(lambda x,y: x if x>y else y ,l)

10

In [ ]:
# Find smallest number in list by reduce function
l=[1,2,3,4,5,6,7,8,9,10]

reduce(lambda x,y: x if x<y else y ,l)

1

In [ ]:
# Multiply commulatively
l=[2,3,4,5,6,7,8,9,10]

reduce(lambda x,y: x*y,l)

3628800