# Loops
Loop is the method of programming which is used for the work that you want to repeat again and again.

#### 2 type of loops in python


*   While Loop
*   for loop

In [ ]:
''' Syntax

while codition:
  code '''

' Syntax\n\nwhile codition:\n  code '

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [ ]:
name= "Abdul Rehman"
i=1
while i<=10:
  print(name)
  i+=1

Abdul Rehman
Abdul Rehman
Abdul Rehman
Abdul Rehman
Abdul Rehman
Abdul Rehman
Abdul Rehman
Abdul Rehman
Abdul Rehman
Abdul Rehman

In [ ]:
num=int(input("Enter the table: "))

i=1

while i<=10:
  print(i*num)
  i+=1

Enter the table: 5
5
10
15
20
25
30
35
40
45
50

In [ ]:
table=int(input('Enter the Table: '))
range=int(input("Enter the range: "))

i=1

while i<=range:
  print(f"{table} x {i} = {i*table}")
  i+=1

Enter the Table: 7
Enter the range: 15
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
7 x 11 = 77
7 x 12 = 84
7 x 13 = 91
7 x 14 = 98
7 x 15 = 105

In [ ]:
# while loop with condition
i=1
while i<=10:
  print(i)
  i+=1
else:
  print(" i is no longer less than 10")

1
2
3
4
5
6
7
8
9
10
 i is no longer less than 10

In [ ]:
# Backward loop
i=10
while i>=0:
  print(i)
  i-=1

10
9
8
7
6
5
4
3
2
1
0

In [ ]:
#Task for students
''' Write a program of table using while loop in backward direction'''

' Write a program of table using while loop in backward direction'

#### While loop with conditions

In [ ]:
# Even numbers
print("Even numbers")
count=0
while count<20:
    if count%2==0:
        print(count)

    count+=1

Even numbers
0
2
4
6
8
10
12
14
16
18

In [ ]:
# Odd numbers
print("Odd numbers")
count=0
while count<20:
    if count%2==1:
        print(count)
    count+=1

Odd numbers
1
3
5
7
9
11
13
15
17
19

In [ ]:
# Program for guessing the number

import random

In [ ]:
jackpot=random.randint(1,100)

In [ ]:
guess=int(input("Enter the number: "))
counter=1

while guess!=jackpot:
  if guess<jackpot:
    print("Guess Higher")
  else:
    print("Guess Lower")

  guess=int(input("Enter the number: "))
  counter+=1

print("Write Answer")
print(f"Total Attempt: {counter}")

Enter the number: 50
Guess Lower
Enter the number: 30
Guess Lower
Enter the number: 20
Guess Lower
Enter the number: 5
Guess Higher
Enter the number: 10
Guess Higher
Enter the number: 15
Guess Lower
Enter the number: 14
Guess Lower
Enter the number: 11
Guess Higher
Enter the number: 13
Write Answer
Total Attempt: 9

#For Loop

In [ ]:
#range -------> Built in Function of for loop (0,n-1)
range(1,11)

range(1, 11)

In [ ]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
list(range(5))

[0, 1, 2, 3, 4]

In [ ]:
#range(start,stop,step)

list(range(1,11,2))

[1, 3, 5, 7, 9]

In [ ]:
#Backward
list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
#for (0,n-1)

for i in range(1,10):
  print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(10,0,-1):
  print(i)

10
9
8
7
6
5
4
3
2
1

In [ ]:
#Sequence ------> use for forloop iteration in sequence using membership operator

for i in "Islamabad":
  print(i)

I
s
l
a
m
a
b
a
d

In [ ]:

for i in "Islamabad":
  print(i,end="")

Islamabad

In [ ]:
for i in range(1,20,2):
  print(i)

1
3
5
7
9
11
13
15
17
19

**Note:** When you know that how timesthe loop continue then use for loop, and if don't know use while loop

**Ex:** We make guessing game and use while loop where we don't know how much time the loop run

#Break & Continue



*   Break -----> Terminate (stop) the loop
*   Continue ------> Skip the particular iteration
*   Pass ------> the point here you unsure about adding the code you give pass

In [ ]:
#Break
for i in range(1,11):
  if i==7:
    break
  print(i)

1
2
3
4
5
6

In [ ]:
# continue
for i in range(1,11):
  if i== 6:
    continue
  print(i)

1
2
3
4
5
7
8
9
10

In [ ]:
#pass
for i in range(1,11):
  pass

In [ ]:
# For loop with if-else
for i in range(1,11):
  if i%2==0:
    print(i)

0
2
0
4
0
6
0
8
0
10

In [ ]:
for i in "Islamabad":
  if i=="a":
    continue
  print(i)

I
s
l
m
b
d

In [ ]:
for i in range(1,20):
  if i%11==0:
    print(f"{i} is multiple of 11")
    break
  else:
    print(i)

1
2
3
4
5
6
7
8
9
10
11 is multiple of 11

#Strings
 Sequence of characters

 In python specifically, strings are the sequence of unicode characters

 * Creating Strings
 * Accessing Strings
 * Operations On Strings
 * String Functions

#### Creating Stings

In [ ]:
name_1='Ameen'
name_2="Ali"
name_3= """Abdullah"""

print(name_1)
print(name_2)
print(name_3)

Ameen
Ali
Abdullah

####Accessing Strings


**Indexing:** concept use to access the string through index


*   Positive Indexing -----> Left to Right (Positive)
*   Negative Indexing -----> Right to Left (Negative)

**Slicing:** Return the string in the given range

In [ ]:
#Positive:  0  1  2  3  4  5  6  7  8  9  10
#           H  e  l  l  o     W  o  r  l  d

#Negative: -11 -10 -9 -8 -7 -6 -5 -4 -3 -2  -1
#           H   e   l  l  o     W  o  r  l   d

In [ ]:
#Indexing

# Positive Indexing
a='Hello'

print(a[0])
print(a[1])
print(a[2])
print(a[3])
print(a[4])

H
e
l
l
o

In [ ]:
print(a[5])  # index range error

IndexError: string index out of range

In [ ]:
# Negative Indexing

print(a[-1])
print(a[-2])
print(a[-3])
print(a[-4])
print(a[-5])

o
l
l
e
H

In [ ]:
print(a[-6]) # index range error

IndexError: string index out of range

In [ ]:
#Slicing -----> string[start:end:step]

#(0,n-1)

a= "Hello World"

#positive
print(a[0:7])
print(a[2:])
print(a[:4])
print(a[:])
print(a[::2])

Hello W
llo World
Hell
Hello World
HloWrd

In [ ]:
#Negative

print(a[-4:-1])
print(a[-5:-1:2])
print(a[::-1])
print(a[-1:-5:-2])

orl
Wr
dlroW olleH
dr

####Operations On Strings



*   Arthematic Oerators
*   Comparison Operators
*   Logical Operators
*   Membership Operators
*   Loops On Strings

In [ ]:
#Arthematic

#add
print("Hello " + "World" ) # For String concatination

#Product
print("*"*5)      # For repeat strings multiple time
print(2*"Hello")

Hello World
*****
HelloHello

In [4]:
#Comparison

#Equal-Equal-to
print("Hello"=="Hello")
print("Hello"!="hello")

#Not-Equal-to
print("Hello"!="World")

#Greater-Than & Less Than : Follows Lexiographical comparison -----> dictionary-order based on Unicode (ASCII) code point values of characters.

print("Hello"<"World")
print("Hello">"World")
print("pakistan">"India")
print("Pak">"PAK")

# #Greater-Than-Equal-to & Less-Than-Equal-to :Also Follows exiograhical comparison
print("Hello"<="World")
print("Hello">="World")
print("Hello">"hello")
print("PAK">="PAK")

True
True
True
True
False
True
True
True
False
False
True

1. Ord() use to find the unicode of the chracter
2. chr() use to convert unicode to character

In [ ]:
# char to uicode
print(ord("P"))
print(ord("W"))
print(ord("p"))
print(ord("w"))

#unicode to char
print(chr(80))

80
87
112
119
P