# String Formation

When we wnt to add the variable input in string, we use string fromation

In [ ]:
name=input("Enter your name: ")
age=float(input("Enter yor age: "))
field=input("Enter your field: ")

print("Dear your name is {} , Your age is {} and your a {}  student".format(name,age,field))

Enter your name: Abdul Rehman
Enter yor age: 23
Enter your field: Computer Science
Dear your name is Abdul Rehman , Your age is 23.0 and your a Computer Science  student

In [ ]:
name = input("Enter your name: ")

print(f"My name is {name} ")

Enter your name: Muhammad Abdul Rehman
My name is Muhammad Abdul Rehman

In [ ]:
a=int(input("Enter first number: "))
b=int(input("Enter second number: "))

print(f"The sum of {a} and {b} is {a+b}")

Enter first number: 23
Enter second number: 23
The sum of 23 and 23 is 46

In [ ]:
#Perform a math operation in the placeholder

txt= f"Price is {12*12} Dollars"
print(txt)

Price is 144 Dollars

In [ ]:
txt= f"Price is {12/(144*144)}"
print(txt)

Price is 0.0005787037037037037

# Type Conversion

You can convert from one type to another

### 2 Types of type conversion


*   Implicit: when python automatically perform type converion.
*   Explicit: when Programmer itself perform the type conversion.

In [ ]:
#implicit ----> python automatically convert the data type after addition

print(9+9.5) #int & float
print(5 + 6+7j)  # int & complex
print(2.5+9+5j) #  float & complex

18.5
(11+7j)
(11.5+5j)

In [ ]:
 # Explicit ----> Where python can't perform implicit type conversion

# float to int
print(int(7.8))

#int to float
print(float(9))

# string to int
print(int('45'))

#int to string
print((str(45)))

#float to strig
print(str(6.7))

#string to float
print(float('6.7'))

#int to bool
print(bool(0))

#bool to int
print(int(False))

#int to complex
print(complex(5))

7
9.0
45
45
6.7
6.7
False
0
(5+0j)

**Note:** You cannot convert complex numbers into another number type.

In [ ]:
# Not convertable

print(int('Karachi'))
print(float('Karachi'))
print(complex('Karachi'))

ValueError: invalid literal for int() with base 10: 'Karachi'

#Literals
Raw Data given in a variable

###4 types of literals


*   Numeric
*   String
*   Boolean
*   Special

####1. Numeric Literals

In [ ]:
a= 0b1010 #binary literals
b= 100 #decimal literals
c= 0o310 #octa literals
d= 0x12c #Hexa literals

#float literals
float_1= 100.5
float_2= 1.5e2
float_3= 4.6e-3

#complex literals
x= 2.4j

print(a,b,c,d)
print(float_1,float_2,float_3)
print(x, x.real,x.imag)

10 100 200 300
100.5 150.0 0.0046
2.4j 0.0 2.4

####String Literals

In [ ]:
string='I am Abdullah'
strings="I am 20 years old"
single_char="C"
multiline_str="""This is multi line string with more than one line code.""" # for multiline string
unicode_str=u"\U0001f600" # Universally contains every type of unicode of char, labels,emojis etc....
raw_str=r"raw \n string" # Use when want to write html in python

print(string)
print(strings)
print(single_char)
print(multiline_str)
print(unicode_str)
print(raw_str)

I am Abdullah
I am 20 years old
C
This is multi line string with more than one line code.
ðŸ˜€
raw \n string

####3. Boolean Literals

In [ ]:
#implicit type conversion
a=True+9
b=False+4

print(a,b)

10 4

####4. Special Literal

In [ ]:
# there is no variable declaration mechnism in python . So as safe side for diclaration of variabe for any purpose we can use None which defines the emptiness of variable
# we can use zero as place of none but it makes some mistake or blender in logic.
a=None
print(a)

None

# Operators
Operators are use to perform oerations on variables and values.Python has following operators

*   Arthmatic Operators
*   Comparison Operators
*   Logical Opertors  
*   Assignment Operator
*   Identity Operators
*   Membership Operators

In [ ]:
# Arthmatic Operators

x=7
y=2

#addition
print(x+y)

#subtration
print(x-y)

#multiplication
print(x*y)

#division
print(x/y)   #output in float by default

#percent
print(x%y)    #modulus

#floor division
print(x//y)      #integer division

#exponent
print(x**y)     #power

9
5
14
3.5
1
3
49

In [ ]:
# Comparison Operators
x=15
y=10

#greatr than , Less then
print(x>y)
print(x<y)

# greater than or equal to , less than or equal to
print(x>=y)
print(x<=y)

# Equal Equal to, Not Equal to
print(x==y)
print(x!=y)

True
False
True
False
False
True

In [ ]:
# Logicl Operators
x=True
y=False

# And operator
print(x and y)  # True, Flase = False

# Or operator
print(x or y) # True, False =True

# Not operator
print(not x)


a=12
b=13
c=14

print(a<=b and c>=b)

print(a>=b or c<=b)

False
True
False
True
False

In [ ]:
# Assignment Operators

a=3
print(a)

a+=1
print(a)  #a=a+3

a-=1
print(a)

a*=2
print(a)

a/=2
print(a)

a%=2
print(a)

a//=2
print(a)

a**=2
print(a)

3
4
3
6
3.0
1.0
0.0
0.0